{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="listing-categories-page">
  <!-- Hero Section-->
  <section class="hero hero-inverse">
    <div class="container">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Anti-Spam Policy</li>
      </ul>
      <h1>Anti-Spam Policy</h1>
    </div>
  </section>



  <section>
      <div class="row mt-3 p-5">
          <div class="col-md-12">
            <h3 align="center">FindLocal Anti-Spam Policy</h3>
            <p style="text-align: left;" align="center">FindLocal is committed to permission-based email marketing practices, and as a result has established this no-tolerance Anti-Spam Policy.  FindLocal will occasionally update this Anti-Spam Policy.  When it does, FindLocal will also revise the “last update” date at the top of this Anti-Spam Policy.  For changes to this policy, FindLocal will notify you (the customer) by placing a notice on its web site home page.</p>
            <ol>
            <li><strong>What is Spam?<br />
            </strong>Spam is commercial email or unsolicited bulk email, including “junk mail”, which has not been requested by the recipient.  It is intrusive and often irrelevant or offensive, and it wastes valuable resources.  Spam messages are the opposite of permission-based email, which are normally anticipated, personal, relevant and/or associated with a pre-existing business or personal relationship.  Inappropriate newsgroup activities, consisting of excessive posting of the same materials to several newsgroups, are also deemed to be spam.</li>
            <li><strong>Preventing Spam<br />
            </strong>Customers of FindLocal products and services have agreed during their registration process, upon accepting the Terms of Use, to comply with this Anti-Spam Policy.  Specifically, each customer agrees not to use the FindLocal products or services to send unsolicited email or bulk email, whether or not for commercial purposes.  FindLocal reserves the right to determine in its sole discretion what constitutes actionable spam, as well as what measures are necessary in response to such spam activities.<br />
            <strong><br />
            </strong></li>
            <li><strong>How FindLocal Helps You to Avoid Spamming</strong><br />
            FindLocal has developed its Internet marketing tools to incorporate a strict permission-based philosophy.  This anti-spam philosophy is implemented through the following:</p>
            <p style="padding-left: 40px;">a)  Communication and Agreement – The Terms of Use that you have agreed to as part of registering for the FindLocal products and services state how and for what purposes you can collect your site visitor addresses, and that you will follow the FindLocal Privacy Policy and Anti-Spam Policy.</p>
            <p style="padding-left: 40px;">b)  Unsubscription – Each email created using FindLocal products contains an “unsubscribe link”.  If your web site visitors use the link to request that they be unsubscribed, your subscriber lists will automatically be adjusted to eliminate the prospect of sending unwanted email to such persons.  Additionally, each person on your subscriber list has the option of unsubscribing through a web-based method provided on the FindLocal web site.  Customers of FindLocal who try to remove the unsubscribe link will be warned that they are doing so, and if they persist in having the link removed or deactivated in any way, then FindLocal will have the right to terminate their account.</p>
            <p style="padding-left: 40px;">c)  Purchased Mailing Lists &#8211; Mass mailings to purchased email lists are not allowed.  FindLocal only allows opt-in mailing lists.  Purchased or inherited lists are by definition not opt-in.  Similarly, you cannot use an email list relating to particular subject matter, and then use it for an unrelated topic.</p>
            </li>
            <li><strong style="font-size: 1rem;"><strong style="font-size: 1rem;">Laws Restricting Spam<br />
            </strong></strong>Spam laws vary from state to state, and from country to country.  This FindLocal Anti-Spam Policy has been developed to conform to the highest commercially reasonable standards.  As a result, and without limiting the general prohibitions against all spam activities, the following are expressly prohibited:</p>
            <p style="padding-left: 40px;">a)  Use of false headers, or other false information, to identify the point of origin or the transmission path of the email, or to hide the true origin of the email sender</p>
            <p style="padding-left: 40px;">b)  Unauthorized use of a third party’s internet domain name without the permission of such third party, to make it appear that the third party was the point of origin of the email</p>
            <p style="padding-left: 40px;">c) Use of any false or misleading information in the subject line of the email, and</p>
            <p style="padding-left: 40px;">d)  Assisting any person in using the products or services of FindLocal for any of these previously mentioned activities.</p>
            </li>
            <li><strong> Questions To Ask Yourself</strong><br />
            To help in establishing whether you are participating in activities constituting spam, ask yourself the following questions:</li>
            </ol>
            <ul>
            <li style="list-style-type: none;">
            <ul>
            <li>Are you sending email to non-specific addresses, such as info@domain.com or sales@domain.com?</li>
            <li>Have you deliberately falsified your transmission path information or originating address</li>
            <li>Are you sending email to mailing lists or distribution lists, which then send indirectly to other email addresses?</li>
            <li>Have you imported for use a purchased list of any type?</li>
            <li>Are you continuing to mail to anyone who has asked to be deleted from your mailing list?</li>
            <li>Does your email not provide a fully functioning link to unsubscribe?</li>
            <li>Does you email subject line contain false or misleading information?</li>
            <li>Have you used a third party’s email address or domain name without the party’s consent?</li>
            </ul>
            </li>
            </ul>
            <p><strong>Measures to Enforce the Anti-Spam Policy<br />
            </strong>Any FindLocal customer found to be using FindLocal products or services for spamming purposes may, at FindLocal’s discretion, be immediately cut off from use of all FindLocal products and services and/or fined US$ 1,000 per occurrence, with no refund of fees that have been paid.</p>
            <p>FindLocal warns all of its customers when signing up that if they participate in spamming activities they will be subject to the loss of FindLocal services, fines and possible legal action.</p>
            <p>FindLocal has the right to actively review its customers’ subscriber lists and email for suspiciously large broadcasts.  If FindLocal finds any customers to be spamming, it will issue a warning, and if the activities are serious enough, FindLocal will take action immediately.  If FindLocal has any reason to believe that the customer, despite warning being given, threatens to or is continuing to send spam, then FindLocal may take action immediately, including disabling the customer’s account and/or reporting the customer and the incident to the proper authorities.</p>
            <p>FindLocal does not attempt to censor any content, nor to curtail the business of its customers.  However, spam activities do not fall within uses authorized by FindLocal, and will not be tolerated.</p>
            <p><strong>Reporting Spam<br />
            </strong>If you believe that you have received spam from or through FindLocal’s facilities, please send a complaint from your email account along with the unsolicited email, with completed header, to abuse@FindLocalcation.com. Please provide any other information that you believe may help us in our investigation. FindLocal does not investigate or take any action based on “anonymous” spam complaints.</p>
            <p><strong>False Spam Complaints<br />
            </strong>FindLocal supports the efforts of various organizations working to responsibly eliminate spam activities.  However, if an individual has opted-in to receive email from a customer of FindLocal, and then falsely or maliciously files a spam complaint against FindLocal or its customers, FindLocal will cooperate fully with the appropriate agencies to ban the complainant from use of anti-spam software and the Internet community.</p>
          </div>
      </div>
  </section>


  {% endblock content %}
