{% extends 'theapp/base.html' %}
{% load static %}

{% block content %}


 <script>
  $(function() {
      $("#query").autocomplete({
          source: "/search_auto/",
          select: function (event, ui) { //item selected
              AutoCompleteSelectHandler(event, ui)
          },
          minLength: 2,
      });
  });
  function AutoCompleteSelectHandler(event, ui)
  {
      var selectedObj = ui.item;
  }
</script>



    <!-- Hero Section-->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <p class="small-text-hero"><i class="icon-localizer text-primary mr-1"></i>Looking for something? <span class="text-primary"> Choose a category of interest.</span></p>
        <h1>Local Directory <br>
        <span class="text-primary">For USA Cities    </span> </h1>
        <p class="text-hero">Research, plan and save</p>
        <p>Search city info, jobs, rentals and more</p>
        {% include 'theapp/main-search.html' %}
      </div>
    </section>
    <!-- Features Section-->
    <!-- <section class="features bg-gray">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-3">
            <div class="icon"><i class="icon-antique-pavilion"></i></div>
            <h4 class="h5">300 Places</h4>
          </div>
          <div class="col-sm-3">
            <div class="icon"><i class="icon-calendar"></i></div>
            <h4 class="h5">150 Events</h4>
          </div>
          <div class="col-sm-3">
            <div class="icon"><i class="icon-gallery"></i></div>
            <h4 class="h5">700 Photos</h4>
          </div>
          <div class="col-sm-3">
            <div class="icon"><i class="icon-list"></i></div>
            <h4 class="h5">15 Categories</h4>
          </div>
        </div>
      </div>
    </section> -->


    <!-- About Section-->
    <section class="services">
      <div class="container text-center">
        <header>
          <h2><small>What We Do</small> What does <span style="color:#D9251D;">FindLocal</span><span class="ml-1 text-primary">.com</span> provide</h2>
          <p class="lead col-md-10 mx-auto">We connect people who are new in town with local businesses. </p>
        </header>
        <div class="row">
          <!-- Item-->
          <div class="item col-lg-4">
            <div class="icon"><i class="icon-map"></i></div>
            <div class="text">
              <h3 class="h4">First thing we do</h3>
              <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
          </div>
          <!-- Item-->
          <div class="item col-lg-4">
            <div class="icon"><i class="icon-cityscape"></i></div>
            <div class="text">
              <h3 class="h4">Second thing we do</h3>
              <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
          </div>
          <!-- Item-->
          <div class="item col-lg-4">
            <div class="icon"><i class="icon-script"></i></div>
            <div class="text">
              <h3 class="h4">Third thing we do</h3>
              <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Popular Categories Section-->
    <section class="latest-listings bg-gray">
      <div class="container">
        <header>
          <h2 class="has-lines"><small>Popular Categories</small>Popular <span class="text-primary"> Categories</span></h2>
          <p class="lead">Discover what's popular in your new area</p>
        </header>
        <div class="owl-carousel owl-theme latest-listings-slider">
          {% for category in business_categories %}
          <!-- Item-->
          <div class="item listing-item">
            <div class="item-inner">
              <div class="image"><img src="{{ category.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="info d-flex align-items-end justify-content-between">
                <div class="content"><a href="{% url 'category-detail' category.pk %}">
                    <div class="badge-transparent">{{ category.title }}</div></a><a href="{% url 'category-detail' category.pk %}">
                    <h3>{{ category.title }}</h3>
                    </a>
                    </div>

              </div>
            </div>
             <div class="rate-box d-flex align-items-center">

            </div>
          </div>
           {% endfor %}
        </div>
      </div>
    </section>




          <!-- New Listings Section-->
    <section class="latest-listings">
      <div class="container">
        <header>
          <h2 class="has-lines"><small>New Listings</small>See <span class="text-primary">New Listings</span></h2>
          <p class="lead">See our newest business listings</p>
        </header>
        <div class="owl-carousel owl-theme latest-listings-slider">
          {% for listing in business_listings %}
            {% if listing.published %}
            <div class="item listing-item" style="box-shadow: 10px 5px 5px #ddd;">
            <div class="item-inner">
              <div class="image"><img src="{{ listing.imageURL }}" alt="..." class="img-fluid"></div>
              <div class="info d-flex align-items-end justify-content-between">
                <div><a href="#" class="badge-transparent">{{ listing.category.title }}</a>
                  <h3><a href="{% url 'listing-detail' listing.id %}">  {{ listing.title }}</a></h3>
                  <p class="address text-light">{{ listing.city }}</p>
                </div>
                <!-- <div class="favorite"><i class="icon-heart"> </i></div> -->
              </div>
            </div>
            <div class="rate-box d-flex align-items-center">

            </div>
            <div class="description">
              <p>{{ listing.tagline|truncatewords:10 }} </p><a class="text-primary" href="{% url 'listing-detail' listing.id %}">Read more</a>
            </div>
          </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>






    <!-- Blog Section-->
    <section class="blog bg-gray">
      <div class="container">
        <header>
          <h2 class="has-lines"><small>Our Blog</small> Helpful <span class="text-primary">Articles &amp; Tips</span> for being savvy</h2>
          <p class="lead">Learn about how to be savvy in your town or city.</p>
        </header>
        <div class="row">
          <!-- Post-->
          {% for post in latest %}
          <div class="col-lg-4">
            <div class="post">
              <div class="image"><img src="{{ post.thumbnail.url }}" alt="..."></div>
              <div class="info d-flex align-items-end">
                <div class="content">
                  <div class="post-meta">{{ post.timestamp }}</div><a href="{% url 'post-detail' post.pk %}">
                    <h3>{{ post.title }}</h3></a>
                  <p>{{ post.overview|linebreaks|truncatechars:'150' }}</p><a href="{% url 'post-detail' post.pk %}" class="has-lines read-more">Read More</a>
                </div>
              </div>

            </div>
          </div>
          {% endfor %}
        </div><a href="{% url 'post-list' %}" class="pull-right visit-blog btn-lg btn btn-primary has-shadow has-wide-padding">Visit Blog</a>
      </div>
    </section>



    <script>
     function lookupLocation(){
      $.getJSON('https://geolocation-db.com/json/c0593a60-4159-11eb-80cd-db15f946225f', function(data) {
        $('#query').attr('placeholder', data.city);
        // window.alert(locationData);
      });
     }
    </script>

    {% endblock content %}
