{% extends 'theapp/user/main.html' %}
{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>

<div class="text-center justify-content-md-center mt-3">
    {% if listings %}
    <h2>Your Listings</h2>
    <hr>
        {% for listing in listings %}
           <b>Listing for:</b> <a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a>
        {% endfor %}
    {% else %}
        <a href="{% url 'submit-listing' %}" class="btn btn-danger btn-lg mt-5">Create Your Business Listing</a>
    {% endif %}


</div>
</div>

{% endblock content %}
